{% extends 'base.html' %}
{% load static%}
{% load custom_tags %}

		{% block styles %}
			<!-- Prism Css -->
			<link href="{% static ''%}assets/plugins/prism/prism.css" rel="stylesheet">
			<link href="{% static ''%}assets/css/open_image.css" rel="stylesheet">
		{% endblock styles %}

					{% block body %}
						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">Blog</h4>
							</div>
							<div class="page-rightheader ms-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'main' %}" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Главная</span></a></li>
									<li class="breadcrumb-item"><a href="{{ main_url }}?category={{ article.category.id }}&search={{ request.GET.search }}">{{ article.category }}</a></li>
									<li class="breadcrumb-item"><a href="{{ main_url }}?subcategory={{ article.subcategory.id }}&search={{ request.GET.search }}">{{ article.subcategory }}</a></li>
									<li class="breadcrumb-item active" aria-current="page">{{ article.slug }}</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->

						<!-- Row -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="card overflow-hidden">
									<div class="card-body_comments">
										<ul class="list-unstyled row">
											{% for img in article.images.all %}
												<li class="col-xs-6 col-sm-4 col-md-3">
													<a href="javascript:void(0)" onclick="openImageModal('{% get_media_prefix %}{{ img.image }}', {{ forloop.counter0 }})">
														<img class="img-responsive" src="{% get_media_prefix %}{{ img.image }}" alt="Описание изображения">
													</a>
												</li>
											{% endfor %}
										</ul>
									</div>

									<div class="card-body">
										<div class="item7-card-desc d-md-flex mb-5">
											<a href="javascript:void(0)" class="d-flex me-3 mb-2"><svg class="svg-icon me-2" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 2v3H4V5h16zM4 21V10h16v11H4z"/><path d="M4 5.01h16V8H4z" opacity=".3"/></svg><div class="mt-0">{{ article.created_at }}</div></a>
											<a href="javascript:void(0)" class="d-flex mb-2"><svg class="svg-icon me-2" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M12 16c-2.69 0-5.77 1.28-6 2h12c-.2-.71-3.3-2-6-2z" opacity=".3"></path><circle cx="12" cy="8" opacity=".3" r="2"></circle><path d="M12 14c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm-6 4c.22-.72 3.31-2 6-2 2.7 0 5.8 1.29 6 2H6zm6-6c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"></path></svg><div class="mt-0">Автор: {{ article.author }}</div></a>
											<div class="ms-auto mb-2">
												<a class="me-0 d-flex" href="javascript:void(0)"><svg class="svg-icon me-2" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 17.17V4H4v12h14.83L20 17.17zM18 14H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z" opacity=".3"/><path d="M4 18h14l4 4-.01-18c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2zM4 4h16v13.17L18.83 16H4V4zm2 8h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"/></svg><div class="mt-0">{{ comments_count }} комментариев</div></a>
												<a href="javascript:void(0)" class="d-flex ms-3">
													<svg class="svg-icon me-2" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18">
														<path d="M0 0h24v24H0V0z" fill="none"/>
														<path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z"/>
													</svg>
													<div class="mt-0">{{ article.views }} просмотров</div>
												</a>
											</div>
										</div>
										<a href="javascript:void(0)" class="d-flex me-2">
											Теги: {{ article.tags.all|join:", " }}
										</a>
										<a class="mt-4"><h5 class="font-weight-semibold">{{article.tittle}}</h5></a>
										<p>{{ article.content }}</p>
									</div>
								</div>

								<!--Comments-->
								{% if user.is_authenticated %}
									<div class="card mb-lg-0">
										<div class="card-header">
											<h3 class="card-title">Добавить комментарий</h3>
										</div>
										<form method="post" action="{% url 'add_comment' article_id=article.id %}">
											{% csrf_token %}
											<div class="card-body">
												<div class="mt-2">
													<div class="mb-3">
														<textarea class="form-control" name="text" rows="6" placeholder="Write Review"></textarea>
													</div>
													<button class="btn btn-primary" type="submit">Отправить</button>
												</div>
											</div>
										</form>
									</div>
								{% endif %}

								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Комментариев: {{ comments_count }}</h3>
									</div>

									{% for comment in comments %}
										<div class="card-body">
												<div class="d-sm-flex mt-0 p-5 sub-review-section border border-bottom-0 br-bl-0 br-br-0">
													<!-- код комментария -->
													<div class="d-flex me-3">
														{% if avatars_dict|get_item:comment.user.id %}
															<img class="media-object brround avatar-md" alt="64x64" src="{{ avatars_dict|get_item:comment.user.id }}">
														{% else %}
															<img class="media-object brround avatar-md" alt="64x64" src='{{ MEDIA_URL }}avatars/active.jpg'>
														{% endif %}
													</div>
													<div class="media-body">
														<h5 class="mt-0 mb-1 font-weight-semibold">
															{{ comment.user.username }}
														</h5>
														{{ comment.created_at }}
														<p class="font-13 mb-2 mt-2">
															{{ comment.text }}
														</p>

														{% if user.is_authenticated %}
															<button onclick="send_url_to_modal_reply({{ article.id|escapejs }}, {{ comment.id|escapejs }})" class="modal-effect btn btn-sm btn-light me-2 mt-1" type="button" aria-expanded="false" data-bs-effect="effect-fall" data-bs-toggle="modal" data-bs-target="#modaldemo8">
																Ответить
															</button>
														{% endif %}

														<!-- Кнопка для раскрытия ответов -->
														<button class="btn btn-sm btn-light me-2 mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#replies-{{ comment.id }}" aria-expanded="false">
															<i class="fa fa-comments"></i> Показать ответы {{ comment.replies.count }}
														</button>


														<div class="btn-group btn-group-sm mb-1 ms-auto float-sm-end mt-1">
															<button class="btn btn-light like-btn" type="button" data-comment-id="{{ comment.id }}" data-reaction="1">
																<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18">
																	<path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path>
																	<path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path>
																	<path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path>
																</svg>
																<span class="likes-count">{{ comment.likes_count }}</span>
															</button>
															<button class="btn btn-light dislike-btn" type="button" data-comment-id="{{ comment.id }}" data-reaction="-1">
																<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18">
																	<path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/>
																	<path d="M3 12v2h8.77l-1.11 5.34L15 15V5H6z" opacity=".3"/>
																	<path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.58-6.59c.37-.36.59-.86.59-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L11.77 14H3v-2l3-7h9v10zm4-12h4v12h-4z"/>
																</svg>
																<span class="dislikes-count">{{ comment.dislikes_count }}</span>
															</button>
														</div>

														{% if comment.user == user or user.is_staff %}
															<div>
																<a href="{% url 'edit_comment' comment.id %}" class="btn btn-light btn-svgs mt-1 mb-1" style="justify-content: center;"><i class="fa fa-cog" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-cog" aria-label="fa fa-cog"></i> Изменить</a>
																<button onclick="send_url_to_modal_remove_comment({{ comment.id }})" type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#smallmodal"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 9h8v10H8z" opacity=".3"/><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/></svg>Удалить комментарий</button>
															</div>
														{% endif %}
													</div>
												</div>

												<!-- Блок с ответами (должен быть ПОСЛЕ основного комментария) -->
												<div class="collapse" id="replies-{{ comment.id }}">
													<div class="ps-5 ms-5">
														{% for reply in comment.replies.all %}
															<!-- Вложенный комментарий -->
															<div class="d-sm-flex mt-3 p-3 sub-review-section border">
																<div class="d-flex me-3">
																	<a href="javascript:void(0)">
																		<img class="media-object brround avatar-sm" alt="64x64" src="{{ MEDIA_URL }}{{ user_info.avatar }}">
																	</a>
																</div>
																<div class="media-body">
																	<h6 class="mt-0 mb-1 font-weight-semibold">{{ reply.user.username }}</h6>
																	{{ reply.created_at }}
																	<p class="font-13 mb-2 mt-2">
																		{{ reply.text }}
																	</p>
																	{% if reply.user == user or user.is_staff %}
																		<div>
																			<a href="{% url 'edit_comment' reply.id %}" class="btn btn-light btn-svgs mt-1 mb-1" style="justify-content: center;"><i class="fa fa-cog" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-cog" aria-label="fa fa-cog"></i> Изменить</a>
																			<button onclick="send_url_to_modal_remove_comment({{ reply.id }})" type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#smallmodal"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 9h8v10H8z" opacity=".3"/><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/></svg>Удалить ответ</button>
																		</div>
																	{% endif %}
																</div>
															</div>
														{% endfor %}
													</div>
												</div>
										</div>
									{% endfor %}
								</div>
								<!--/Comments-->
							</div>
						</div>
						<!--End Row-->
					{% endblock body %}

						{% block modal %}
							<div class="modal  fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodal" aria-hidden="true">
								<div class="modal-dialog modal-sm" role="document">
									<form id="remove-link" method="post" action="#">
										{% csrf_token %}
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="smallmodal1">Удаление товара</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">
												<p>Удалить товар из базы?</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
												<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">да</button>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="modal fade" id="modaldemo8">
								<div class="modal-dialog modal-dialog-centered text-center" role="document">
									<div class="modal-content modal-content-demo">
										<div class="modal-header">
											<h6 class="modal-title">Ответ на комментарий пользователя</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
										</div>
										<form id="reply-remove-link" method="post" action="#">
										{% csrf_token %}
											<div class="modal-body">
												<textarea class="form-control" name="text" rows="6" placeholder="Write Review"></textarea>
											</div>
											<div class="modal-footer">
												<button class="btn btn-indigo" type="submit">Отправить</button> <button class="btn btn-light" data-bs-dismiss="modal" type="button">Отмена</button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<!-- Модальное окно с изображениями -->
							<div id="imageModal" class="modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.9); z-index: 1000;">
								<span class="close-btn" onclick="closeModal()" style="position: absolute; top: 20px; right: 35px; color: black; font-size: 40px; font-weight: bold; cursor: pointer; z-index: 1001;">
									<i class="fa fa-close" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-close" aria-label="fa fa-close"></i>
								</span>

								<div class="modal-content" style="width: 100%; height: 90%; display: flex; justify-content: center; align-items: center;">
									<img id="modalImage" src="" style="max-width: 90%; max-height: 90%; object-fit: contain;">
								</div>

								<button class="nav-btn prev-btn" onclick="changeImage(-1)" style="float: left; margin-left: 10px; font-size: 60px;">
									<i class="fa fa-chevron-left" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-chevron-left" aria-label="fa fa-chevron-left"></i>
								</button>
								<button class="nav-btn next-btn" onclick="changeImage(1)" style="float: right; margin-right: 10px; font-size: 60px;">
									<i class="fa fa-chevron-right" data-bs-toggle="tooltip" title="" data-bs-original-title="fa fa-chevron-right" aria-label="fa fa-chevron-right"></i>
								</button>
							</div>

						{% endblock modal %}
					
		{% block scripts %}

			<script src="{% static ''%}assets/js/send_url_to_modal.js"></script>

			<script src="{% static ''%}assets/js/open_image.js"></script>

			<script>
				document.addEventListener('DOMContentLoaded', function() {
					const likeButtons = document.querySelectorAll('.like-btn, .dislike-btn');

					likeButtons.forEach(button => {
						button.addEventListener('click', function() {
							const commentId = this.getAttribute('data-comment-id');
							const reaction = this.getAttribute('data-reaction');

							fetch('{% url 'react_to_comment' %}', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded',
									'X-CSRFToken': '{{ csrf_token }}'
								},
								body: `comment_id=${commentId}&reaction=${reaction}`
							})
							.then(response => response.json())
							.then(data => {
								if (data.status === 'success') {
									// Обновляем счетчики
									const commentElement = document.querySelector(`[data-comment-id="${commentId}"]`);
									commentElement.querySelector('.likes-count').textContent = data.likes_count;
									commentElement.querySelector('.dislikes-count').textContent = data.dislikes_count;

									// Можно добавить визуальную обратную связь
									if (data.action === 'added' || data.action === 'updated') {
										if (reaction === '1') {
											this.classList.add('active-like');
										} else {
											this.classList.add('active-dislike');
										}
									} else {
										this.classList.remove('active-like', 'active-dislike');
									}
								}
							});
						});
					});
				});
			</script>
		{% endblock scripts %}