
{% load static%}
<html lang="en" dir="ltr">
    <head>

        <!-- Meta data -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta content="Django-news" name="description">


            {% include 'layouts/styles.html' %}
            {% block styles %}{% endblock styles %}

	</head>

    <body class="light-mode">

        <div class="page">
            <div class="page-main">

                {% include 'layouts/header.html' %}

                {% include 'layouts/centerlogo-header.html' %}

                {% include 'layouts/horizontal-main.html' %}

                <div class="app-content page-body">
                    <div class="container">

                    	{% block body %}{% endblock body %}

                    </div>
                </div>
			    <!-- main-content closed -->
            </div>

            {% block modal %}{% endblock modal %}

            {% include 'layouts/footer.html' %}

        </div>
		<!-- End Page -->

        {% include 'layouts/scripts.html' %}
		{% block scripts %}{% endblock scripts %}

    </body>
</html>