{% load static%}

                <style>
                    .horizontal-main {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .horizontal-mainwrapper {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                    .horizontalMenu {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                </style>
                <!-- Horizontal-menu -->
                <div class="horizontal-main hor-menu clearfix">
                    <div class="horizontal-mainwrapper container clearfix">
                        <nav class="horizontalMenu clearfix">
                            <ul class="horizontalMenu-list">
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg class="hor-icon" x="672" y="96" viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" focusable="false"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" d="M8 16H6a2 2 0 01-2-2v0-8a2 2 0 012-2v0h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v0-8a2 2 0 00-2-2v0h-8a2 2 0 00-2 2v8a2 2 0 002 2v0z"></path></svg>                                    Категории <i class="fa fa-angle-down horizontal-icon"></i></a>
                                    </a>
                                    {% url 'main' as main_url %}
                                    <div class="horizontal-megamenu clearfix">
                                        <div class="container">
                                            <div class="mega-menubg">
                                                <div class="row">
                                                    {% for category in categories %}
                                                        <div class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                            <ul>
                                                                <li class="title"><a href="{{ main_url }}?paginate_by={{ request.GET.paginate_by|default:9 }}&category={{ category.id }}&search={{ request.GET.search }}">{{category.name}}</a></li>
                                                                {% for subcategory in subcategories %}
                                                                    {% if subcategory.category_name == category %}
                                                                        <li><a href="{{ main_url }}?paginate_by={{ request.GET.paginate_by|default:9 }}&category={{ request.GET.category }}&subcategory={{ subcategory.id }}&search={{ request.GET.search }}">{{subcategory.name}}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="hor-icon"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>                                    Подкатегории <i class="fa fa-angle-down horizontal-icon"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        {% for subcategory in subcategories %}
                                            {% if subcategory.category_name.id == request.GET.category|add:"0" or not request.GET.category and subcategory.category_name.id == current_category_id|add:"0" %}
                                                <li><a href="{{ main_url }}?paginate_by={{ request.GET.paginate_by|default:9 }}&category={{ request.GET.category }}&subcategory={{ subcategory.id }}&search={{ request.GET.search }}">{{subcategory.name}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                                    Упорядочить <i class="fa fa-angle-down horizontal-icon"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="{{ main_url }}?page=1&paginate_by={{ request.GET.paginate_by|default:9 }}&orderby=created_at&category={{ request.GET.category }}">По дате публикации</a></li>
                                        <li><a href="{{ main_url }}?page=1&paginate_by={{ request.GET.paginate_by|default:9 }}&orderby=title&category={{ request.GET.category }}">По названию</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="sub-icon">
                                        <svg class="hor-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                                    Выводить статьи: <i class="fa fa-angle-down horizontal-icon"></i></a>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="{{ main_url }}?page=1&paginate_by=9&{% if request.GET.orderby is None %}orderby=created_at{% else %}orderby={{ request.GET.orderby }}{% endif %}&category={{ request.GET.category }}">По 9</a></li>
                                        <li><a href="{{ main_url }}?page=1&paginate_by=18&{% if request.GET.orderby is None %}orderby=created_at{% else %}orderby={{ request.GET.orderby }}{% endif %}&category={{ request.GET.category }}">По 18</a></li>
                                        <li><a href="{{ main_url }}?page=1&paginate_by=36&{% if request.GET.orderby is None %}orderby=created_at{% else %}orderby={{ request.GET.orderby }}{% endif %}&category={{ request.GET.category }}">По 36</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--Nav end -->
                    </div>
                </div>
                <!-- Horizontal-menu end -->