{% load static%}
        <!-- Back to top -->
        <a href="#top" id="back-to-top">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/></svg>
        </a>
        
        <!-- Jquery js-->
        <script src="{% static 'assets/js/vendors/jquery.min.js'%}"></script>

        <!-- Bootstrap5 js-->
        <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js'%}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

        <!--Othercharts js-->
        <script src="{% static 'assets/plugins/othercharts/jquery.sparkline.min.js'%}"></script>

        <!-- Circle-progress js-->
        <script src="{% static 'assets/js/vendors/circle-progress.min.js'%}"></script>

        <!-- Jquery-rating js-->
        <script src="{% static 'assets/plugins/rating/jquery.rating-stars.js'%}"></script>

        <!--Horizontal js-->
        <script src="{% static 'assets/plugins/horizontal-menu/horizontal.js'%}"></script>

        <!-- Custom js-->
        <script src="{% static 'assets/js/custom.js'%}"></script>