{% load static%}
        <!-- Title -->
        <title>Django-news</title>

        <!--Favicon -->
        <link rel="icon" href="{% static 'assets/images/brand/favicon.ico'%}" type="image/x-icon"/>

        <!-- Bootstrap css -->
        <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />

        <!-- Style css -->
        <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
        <link href="{% static 'assets/css/boxed.css'%}" rel="stylesheet" />
        <link href="{% static 'assets/css/dark-boxed.css'%}" rel="stylesheet" />

        <!-- Dark css -->
        <link href="{% static 'assets/css/dark.css'%}" rel="stylesheet" />

        <!-- Skins css -->
        <link href="{% static 'assets/css/skins.css'%}" rel="stylesheet" />

        <!-- Animate css -->
        <link href="{% static 'assets/css/animated.css'%}" rel="stylesheet" />

        <!-- P-scroll bar css-->
        <link href="{% static 'assets/plugins/p-scrollbar/p-scrollbar.css'%}" rel="stylesheet" />

        <!---Icons css-->
        <link href="{% static 'assets/plugins/web-fonts/icons.css'%}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/web-fonts/font-awesome/font-awesome.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/plugins/web-fonts/plugin.css'%}" rel="stylesheet" />